---
import ListPrices from "@/components/react/ListPrices/ListPrices";
import type { Value } from "@/models/api.model";
import apiService from "@/services/api.service.ts";

let listPrices: Value[] = [];
try {
	listPrices = await apiService.getElectricityPricesDayAPI();
} catch (error: any) {
	console.error(error.message);
}
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Precio horas luz</title>
	</head>
	<body>
		Tamaño del listado: {listPrices.length}<br/>
		<ListPrices client:only />
	</body>
</html>
